---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1512757026'
      Etag:
      - W/"7ab5cb9b60175038b72c7f31d77d97a2"
      Last-Modified:
      - Wed, 06 Dec 2017 15:46:20 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '{"login":"randy-darsh","id":22040967,"avatar_url":"https://avatars0.githubusercontent.com/u/22040967?v=4","gravatar_id":"","url":"https://api.github.com/users/randy-darsh","html_url":"https://github.com/randy-darsh","followers_url":"https://api.github.com/users/randy-darsh/followers","following_url":"https://api.github.com/users/randy-darsh/following{/other_user}","gists_url":"https://api.github.com/users/randy-darsh/gists{/gist_id}","starred_url":"https://api.github.com/users/randy-darsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randy-darsh/subscriptions","organizations_url":"https://api.github.com/users/randy-darsh/orgs","repos_url":"https://api.github.com/users/randy-darsh/repos","events_url":"https://api.github.com/users/randy-darsh/events{/privacy}","received_events_url":"https://api.github.com/users/randy-darsh/received_events","type":"User","site_admin":false,"name":"Randy
        Springer","company":null,"blog":"","location":null,"email":"rspringer47@gmail.com","hireable":null,"bio":null,"public_repos":46,"public_gists":16,"followers":0,"following":3,"created_at":"2016-09-07T00:53:10Z","updated_at":"2017-12-06T15:46:20Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":1336,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 08 Dec 2017 17:21:07 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1512757026'
      Etag:
      - W/"5453ec8b415da0591ef8b8d47e3a5298"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '[{"id":113226306,"name":"apicurious","full_name":"randy-darsh/apicurious","owner":{"login":"randy-darsh","id":22040967,"avatar_url":"https://avatars0.githubusercontent.com/u/22040967?v=4","gravatar_id":"","url":"https://api.github.com/users/randy-darsh","html_url":"https://github.com/randy-darsh","followers_url":"https://api.github.com/users/randy-darsh/followers","following_url":"https://api.github.com/users/randy-darsh/following{/other_user}","gists_url":"https://api.github.com/users/randy-darsh/gists{/gist_id}","starred_url":"https://api.github.com/users/randy-darsh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randy-darsh/subscriptions","organizations_url":"https://api.github.com/users/randy-darsh/orgs","repos_url":"https://api.github.com/users/randy-darsh/repos","events_url":"https://api.github.com/users/randy-darsh/events{/privacy}","received_events_url":"https://api.github.com/users/randy-darsh/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/randy-darsh/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/randy-darsh/apicurious","forks_url":"https://api.github.com/repos/randy-darsh/apicurious/forks","keys_url":"https://api.github.com/repos/randy-darsh/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/randy-darsh/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/randy-darsh/apicurious/teams","hooks_url":"https://api.github.com/repos/randy-darsh/apicurious/hooks","issue_events_url":"https://api.github.com/repos/randy-darsh/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/randy-darsh/apicurious/events","assignees_url":"https://api.github.com/repos/randy-darsh/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/randy-darsh/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/randy-darsh/apicurious/tags","blobs_url":"https://api.github.com/repos/randy-darsh/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/randy-darsh/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/randy-darsh/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/randy-darsh/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/randy-darsh/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/randy-darsh/apicurious/languages","stargazers_url":"https://api.github.com/repos/randy-darsh/apicurious/stargazers","contributors_url":"https://api.github.com/repos/randy-darsh/apicurious/contributors","subscribers_url":"https://api.github.com/repos/randy-darsh/apicurious/subscribers","subscription_url":"https://api.github.com/repos/randy-darsh/apicurious/subscription","commits_url":"https://api.github.com/repos/randy-darsh/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/randy-darsh/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/randy-darsh/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/randy-darsh/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/randy-darsh/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/randy-darsh/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/randy-darsh/apicurious/merges","archive_url":"https://api.github.com/repos/randy-darsh/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/randy-darsh/apicurious/downloads","issues_url":"https://api.github.com/repos/randy-darsh/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/randy-darsh/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/randy-darsh/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/randy-darsh/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/randy-darsh/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/randy-darsh/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/randy-darsh/apicurious/deployments","created_at":"2017-12-05T19:51:01Z","updated_at":"2017-12-07T01:01:32Z","pushed_at":"2017-12-07T18:20:16Z","git_url":"git://github.com/randy-darsh/apicurious.git","ssh_url":"git@github.com:randy-darsh/apicurious.git","clone_url":"https://github.com/randy-darsh/apicurious.git","svn_url":"https://github.com/randy-darsh/apicurious","homepage":null,"size":252,"stargazers_count":1,"watchers_count":1,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Fri, 08 Dec 2017 17:21:42 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:randy-darsh&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1512753769'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview
      Link:
      - <https://api.github.com/search/commits?q=author%3Arandy-darsh&sort=author-date&page=2>;
        rel="next", <https://api.github.com/search/commits?q=author%3Arandy-darsh&sort=author-date&page=19>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":552,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/randy-darsh/apicurious/commits/f278169f959ec16c636e366d9567bc322be4d68d","sha":"f278169f959ec16c636e366d9567bc322be4d68d","html_url":"https://github.com/randy-darsh/apicurious/commit/f278169f959ec16c636e366d9567bc322be4d68d","comments_url":"https://api.github.com/repos/randy-darsh/apicurious/commits/f278169f959ec16c636e366d9567bc322be4d68d/comments","commit":{"url":"https://api.github.com/repos/randy-darsh/apicurious/git/commits/f278169f959ec16c636e366d9567bc322be4d68d","author":{"date":"2017-12-07T11:20:05.000-07:00","name":"randy-darsh","email":"rspringer47@gmail.com"},"committer":{"date":"2017-12-07T11:20:05.000-07:00","name":"randy-darsh","email":"rspringer47@gmail.com"},"message":"cleaned
        up rails helper and re running tests and cassettes to make sure i didnt break
        anything","tree":{"url":"https://api.github.com/repos/randy-darsh/apicurious/git/trees/65ceaca32dfa8bfec9be605a837b0a7b1b0e7a85","sha":"65ceaca32dfa8bfec9be605a837b0a7b1b0e7a85"},"comment_count":0},"author":{"login":"randy-darsh","id":22040967,"avatar_url":"https://avatars0.githubusercontent.com/u/22040967?v=4","gravatar_id":"","url":"https://api.github.com/users/randy-darsh","html_url":"https://github.com/randy-darsh","followers_url":"https://api.github.com/users/randy-darsh/followers","following_url":"https://api.github.com/users/randy-darsh/following{/other_user}","gists_url":"https://api.github.com/users/randy-darsh/gists{/gist_id}","starred_url":"https://api.github.com/users/randy-[...]
- request:
    method: get
    uri: https://api.github.com/users/randy-darsh/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1512757026'
   [...]
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:jmejia&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - [...]
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:JoshCheek&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
     [...]
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:s-espinosa&sort=author-date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/randy-darsh/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '151275[...]
